<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Slot_signal</Name>
    <Version>1.0.0</Version>
    <Title>program Qt</Title>
    <Publisher>Qt-Project</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Qt Installer Framework Examples</StartMenuDir>
    <TargetDir>c:/Slot_signal</TargetDir>
</Installer>
